@{
    Layout = "~/_layout.cshtml";
    Page.Title = "API - JSON Validator";
    Page.Description = "The JSON Validator API is a REST service for validation and completion based on JSON Schema Draft v4";
}

<article>
    <h2>Some headline</h2>

    <p>
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    </p>

    <h3>some sub header</h3>

    <p>
        Mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
    </p>
</article>