* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font: 16px/1.5em "Segoe UI","Segoe WP Light","Segoe WP",Tahoma,Arial,sans-serif;
    padding: 0;
    color: #333;
}

h2, h3 {
    margin-top: 30px;
    font-weight: normal;
}

#wrapper {
    min-height: 100%;
    margin-bottom: -60px; /* Equals to footer height */
}

    #wrapper:after {
        content: "";
        display: block;
        height: 60px; /* Equals to footer height */
    }

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    background: #555;
    color: white;
    height: 60px;
    line-height: 60px;
}

    header h1 {
        font-size: 1.9em;
        font-weight: normal;
    }

main {
    display: block;
    margin-bottom: 50px;
}

    main article {
        margin-top: 50px;
    }

form {
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}

    form div:first-child {
        float: right;
    }

        form div:first-child label {
            font-weight: normal;
        }

    form div:nth-child(2) {
        margin-bottom: 20px;
    }

    form textarea {
        width: 100%;
        height: 200px;
        margin-top: 5px;
    }

        form textarea[invalid] {
            background: #ffd0d0;
        }

    form label {
        font-weight: bold;
    }

    form select option:first-child {
        font-weight: bold;
    }

#keyboard {
    float: right;
}

    #keyboard a {
        font-weight: bold;
        text-decoration: none;
        padding: 2px 3px;
    }

    #keyboard a:hover + dl{
        display: block;
    }

    #keyboard dl {
        position: absolute;
        right: 0;
        width: 300px;
        background: #f1f1f1;
        border: 1px solid gray;
        border-radius: 3px;
        padding: 3px 5px;
        display: none;
    }

        #keyboard dl dt {
            display: inline-block;
            font-weight: bold;
            width: 100px;
        }

        #keyboard dl dd {
            display: inline;
        }

#result {
    display: none;
}

    #result ol {
        margin: 20px 0;
        padding-left: 20px;
    }

        #result ol span {
            font-style: italic;
        }

    #result > pre {
        margin-bottom: 50px;
    }

footer {
    clear: both;
    color: #333;
    line-height: 60px;
    height: 60px;
    font-size: 90%;
    text-align: right;
}

    footer a {
        color: inherit;
    }
