* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font: 14px/1.2 arial;
    padding: 0;
    color: #333;
}

#wrapper {
    min-height: 100%;
    margin-bottom: -60px; /* Equals to footer height */
}

    #wrapper:after {
        content: "";
        display: block;
        height: 60px; /* Equals to footer height */
    }

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    background: #333;
    color: white;
    height: 60px;
    line-height: 60px;
}

    header h1 {
        font-size: 22px;
        font-weight: normal;
    }

main {
    display: block;
    margin-bottom: 50px;
}

form {
    margin-top: 50px;
    margin-bottom: 20px;
}

    form div {
        margin-bottom: 20px;
    }

    form textarea {
        width: 100%;
        height: 200px;
    }

        form textarea[invalid] {
            background: #ffb6b6;
        }

    form label {
        font-weight: bold;
    }

#result {
    display: none;
}

    #result ol {
        margin: 20px 0;
        padding-left: 20px;
    }

        #result ol span {
            font-style: italic;
        }

    #result > pre {
        margin-bottom: 50px;
    }

footer {
    clear: both;
    background: #999;
    line-height: 60px;
    height: 60px;
}
