<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.5.2"/>
        <httpRuntime targetFramework="4.5"/>
    </system.web>

    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="x-powered-by"/>
                <add name="Content-Security-Policy" value="object-src 'none';"/>
                <add name="Arr-Disable-Session-Affinity" value="True"/>
                <add name="Vary" value="Accept-Encoding, If-Modified-Since"/>
                <add name="Access-Control-Allow-Origin" value="*"/>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>